*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;


}
body{
    background-image: url("img.jpg");
    background-size: cover;
    

}
.registration-form{
    position:absolute;
    top:50%;
    Left:50%;
    transform:translate(-50%, -50%);
    width: 350 px;
}
Footer
© 2022 GitHub, Inc.
